/* General */
html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    background-color: rgb(95, 95, 95);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --index: calc(1vh + 1vw);
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--index) * 3);
    color: rgb(229, 229, 229);
    z-index: 50;
}

header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--index) * 3);
    background-color: rgb(37, 37, 37);
    z-index: 2;
}

.header__content {
    display: flex;
    max-height: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.icon-name__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.tarantula-icon__container {
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin-top: 5px;
}

.tarantula-icon {
    max-width: 100%;
    width: calc(var(--index) * 2.9);
    height: calc(var(--index) * 2.9);
}

/* general link style*/

a {
    text-decoration: none;
}

#name {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--index) * 2);
    margin: 0;
}

#name-link {
    color: rgb(193, 36, 36);
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: calc(var(--index) * 0.5);
    margin: 0;
}

.menu__list {
    position: relative;
    z-index: 10;
    margin-right: 20px;
}

.menu-list__item {
    padding: 0 calc(var(--index) * 0.5);
    font-size: calc(var(--index) * 0.8);
}

.menu-list-item__link {
    color: rgb(223, 223, 223);
    transition: text-shadow 0.5s;
}

.menu-list-item__link:hover {
    color: aliceblue;
    text-shadow: 0px 0px calc(var(--index) * 0.1) white;
}

/* Burger menu */

#burger-toggle {
    display: none;
}

.burger-menu__container {
    display: none;
}

/* Main */

main {
    /* display: flex;
    position: relative; */
    margin-top: calc(var(--index) * 2.5);
    z-index: 0;
}

.main-container__container {
    display: flex;
    justify-content: center;
}
.main-container {
    max-width: calc(var(--index) * 40);
    height: calc(var(--index) * 24);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 1;
    
}

.main-text__container {
    padding:  calc(var(--index) * 2) calc(var(--index) * 2);
    padding-top: 0;
    color: rgb(239, 239, 239);
    text-shadow: 0 0 7px black;
    font-size: calc(var(--index) * 1);
    position: relative;
    /* padding-bottom: calc(var(--index) * 2); */
    z-index: 2;
}

.main-button {
    position: relative;
    z-index: 1;
} 

.main-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: calc(var(--index) * 2);
    text-align: center;
    margin-top: 0;
}

.main-button {
    width: calc(var(--index) * 12);
    padding: calc(var(--index) * 0.7);
    border: 0;
    text-align: center;
    background-color: rgb(122, 17, 17);
    font-size: calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(213, 197, 197);
    border-radius: calc(var(--index) * 2);
    box-shadow: calc(var(--index) * 0.05) calc(var(--index) * 0.4) 0px rgb(60, 10, 10);
    position: relative;
    
}

.main-button:hover {
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;
    background-color: rgb(156, 29, 29);
    box-shadow: calc(var(--index) * 0.05) calc(var(--index) * 0.4) 0 rgb(88, 15, 15);
}

.main-button:active {
    transform: translate(calc(var(--index) * 0.05), calc(var(--index) * 0.25));
    box-shadow: none;
}


.cute-spider-face-pict__container {
    width: auto;
    height: calc(var(--index) * 2);
    position: relative;
    background-color: rgb(3, 35, 3);
}
  
.cute-spider-face-pict {
    margin-left: calc(var(--index) * 1);
    object-fit: cover; 
    object-position: center; 
    width: calc(var(--index) * 12);
    height: calc(var(--index) * 8);
    position: absolute;
    bottom: calc(var(--index) * 2);
    z-index: 3;

}

.gallery__name {
    color: rgb(239, 239, 239);
    font-size: calc(var(--index) * 1.5);
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.gallery__name h3 {
    margin-top: calc(var(--index) * 2);
}

.gallery {
    margin: calc(var(--index) * 2) calc(var(--index) * 6);
    display: grid; 
    grid-template-columns: calc(var(--index) * 17) calc(var(--index) * 17); 
    grid-template-rows: calc(var(--index) * 17) calc(var(--index) * 17) calc(var(--index) * 17); 
    gap: calc(var(--index) * 2) calc(var(--index) * 2); 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
    justify-content: center;
    perspective: 500px;
}

.gallery-item__container {
    overflow: hidden;
    display: flex;
    width: calc(var(--index) * 17);
    height: calc(var(--index) * 17);
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: translate3d(var(--move-x), var(--move-y), 0px);
}

.gallery__item {
    filter: brightness(80%);
    width: calc(var(--index) * 17);
    height: calc(var(--index) * 17);
    transition: all 0.3s ease-in-out;
}


.gallery-item__container:hover .gallery-item__link .gallery__item {
    filter: brightness(100%);
    width: calc(var(--index) * 16);
    height: calc(var(--index) * 16);
}

.footer-items__container {
   background-color: rgb(37, 37, 37); 
   color: rgb(229, 229, 229);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: calc(var(--index) * 1);
}

@media screen and (max-width: 767px){
    
    html {
        overflow-x: hidden;
    }
    

    .tarantula-icon {
        max-width: 100%;
        width: calc(var(--index) * 2.9);
        height: calc(var(--index) * 2.9);
    }

    /* Hide menu start */

    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(91, 91, 91);
        z-index: 1;
        padding: calc(var(--index) * 6) 0 0 25px;
        transition: left 0.5s, right 0.5s;
        left: -110vw;
        right: 110vw;
    }

    .menu-list__item {
        padding-left: 0;
        border-bottom: 2px solid #fff;
        font-size: calc(var(--index) * 2);
        margin: 0 0 20px 0 ;
    }

    .menu-list-item__link {
        color: rgb(223, 223, 223);
        transition: text-shadow 0s;
    }

    /* Hide menu end */

    /* Burger menu start */


    .burger-menu__container {
        display: block;
        position: relative;
        width: 20px;
        height: 15px;
        z-index: 3;
        margin-right: 20px;
    }
    .burger-menu__container span {
        transition: transform 0.5s;
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 43%;
    }

    .burger-menu__container::after, .burger-menu__container::before {
        transition: transform 0.5s;
        content: '';
        position: absolute;
        background-color: white;
        width: 100%;
        height:  2px;
        left: 0;
    }
    
    .burger-menu__container::before {
        top: 0;
    }

    .burger-menu__container::after {
        bottom: 0;
    }

    #burger-toggle:checked ~ label::after {
        transform: rotate(-45deg) translate(4px,-5px);
    }

    #burger-toggle:checked ~ label::before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #burger-toggle:checked ~ label span {
        transform: rotate(45deg) translateY(0.5px);;
    }

    #burger-toggle:checked ~ .menu__list {
        left: 0;
        right: 0;
    }

    /* Burger menu end */

    .cute-spider-face-pict {
        margin: 0;
        width: calc(var(--index) * 8);
        height: calc(var(--index) * 6);
    }


    .gallery {
        grid-template-columns: calc(var(--index) * 25) ;
        grid-template-rows: calc(var(--index) * 25) ; 
        gap: calc(var(--index) * 2) calc(var(--index) * 2);
        grid-template-areas: 
        "."
        "."
        "."
        "."
        "."
        ".";
    }

    .gallery-item__container, .gallery__item {
        width: calc(var(--index) * 25);
        height: calc(var(--index) * 25);
    }

    .gallery-item__container:hover .gallery__item {
        width: calc(var(--index) * 23);
        height: calc(var(--index) * 23);
    }
}